#app {
  font-family: "Bree Serif", serif;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  > header {
    grid-area: header;
  }

  > main {
    grid-area: main;
    height: 100%;
  }

  > footer {
    grid-area: footer;
  }
}
